.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: var(--container-margin);
}
.table {
  display: block;
  overflow: auto;
  border-collapse: collapse;
}
.th {
  font-weight: 600;
  padding: 0.5rem 0.875rem;
  border: 1px solid var(--accents-2);
}
.td {
  padding: 0.5rem 0.875rem;
  border: 1px solid var(--accents-2);
}
