.emoji {
  margin: 0 2px;
  vertical-align: -3px;
  display: inline-flex;
}
.link {
  color: rgb(0, 111, 214);
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
}
.s {
  text-decoration: none;
}

/* Polls */
.poll {
  margin: var(--poll-margin);
}
.options {
  display: grid;
  grid-template-columns: max-content 14rem max-content;
  align-items: center;
  grid-gap: 1rem;
  overflow: auto;
}
.label {
  overflow: auto;
  text-align: right;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.chart {
  height: 100%;
  background: var(--poll-bar-color);
}
.hr {
  border: 0;
  border-top: 1px solid var(--accents-2);
  margin: 1rem 0 0.5rem 0;
}
.footer {
  display: flex;
  font-size: 0.875rem;
  color: var(--accents-4);
}
.votes-count {
  flex-grow: 1;
}
@media screen and (max-width: 450px) {
  .options {
    grid-template-columns: max-content 7rem max-content;
  }
}
