.link {
  color: var(--tweet-color-blue-secondary);
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
}
.s {
  text-decoration: none;
}
