.id {
  display: block;
  position: absolute;
  visibility: hidden;
  margin-top: calc(-1 * var(--heading-margin-top));
  padding-top: var(--heading-margin-top);
}
.link {
  color: inherit;
  text-decoration: none;
}
.link:hover {
  color: inherit;
  border-bottom: 1px solid;
}
.link:hover ~ .permalink {
  visibility: visible;
}
.permalink {
  visibility: hidden;
  display: none;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .link {
    margin-right: 0.5rem;
  }
  .permalink {
    display: inline-block;
  }
}

.heading {
  font-weight: 600;
  margin: var(--heading-margin);
}
.h1 {
  font-size: 2rem;
}
.h2 {
  font-size: 1.75rem;
}
.h3 {
  font-size: 1.5rem;
}
.h4 {
  font-size: 1.25rem;
}
.h5 {
  font-size: 1rem;
}
.h6 {
  font-size: 0.875rem;
}
