.theme {
  --colors-blue: #3291ff;
  --colors-purple: #be00ff;

  --accents-1: #111111;
  --accents-2: #333333;
  --accents-3: #444444;
  --accents-4: #666666;
  --accents-5: #888888;

  --bg-color: #000;
  --link-color: var(--colors-blue);
  --poll-bar-color: var(--colors-blue);
  --inline-code-color: var(--colors-purple);
  --code-color: #9efeff;
  --code-bg-color: #1e1e3f;

  --text-margin: 1.25rem 0;
  --container-margin: 1.5rem 0;
  --poll-margin: 1.5rem 1rem;
  --heading-margin-top: 3.5rem;
  --heading-margin-bottom: 2rem;
  --li-margin: 0 0 0.5rem 0;

  /* Embedded tweet */
  --tweet-font: normal normal 16px/1.4 Helvetica, Roboto, 'Segoe UI', Calibri, sans-serif;
  --tweet-font-color: #fff;
  --tweet-bg-color: #000;
  --tweet-border: 1px solid var(--accents-2);
  --tweet-border-hover: var(--tweet-border);
  --tweet-link-color: #2b7bb9;
  --tweet-link-color-hover: #3b94d9;
  --tweet-color-gray: var(--accents-4);
  --tweet-color-red: #e02460;
}

.theme :global(.avatar) > img {
  border: var(--tweet-border);
}

.theme :global(.tweet:hover) {
  box-shadow: 0 0 0 1px var(--accents-2);
}
