.root {
  color: var(--tweet-color-blue-secondary);
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  background: none;
  border: var(--tweet-border);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  align-self: center;
  transition-property: background-color;
  transition-duration: 0.2s;
}
.root:hover {
  background-color: var(--tweet-color-blue-secondary-hover);
}
.dark:hover {
  box-shadow: 0 0 0 1px var(--accents-2);
}
