.score {
  --gauge-circle-size: 80px;
  --circle-background: #0cce6b;
  --circle-border-width: 8;
  --circle-color: #0cce6b;
  --transition-length: 1s;
  --gauge-label-font-size: 1.25rem;
  --color-pass: #0cce6b;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  margin: 3.5rem 0;
}

@media (max-width: 580px) {
  .score {
    grid-template-columns: repeat(auto-fit, minmax(180px, max-content));
  }
}

.gauge {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  contain: content;
  will-change: opacity;
}

.gauge-pass {
  color: var(--color-pass);
  fill: var(--color-pass);
  stroke: var(--color-pass);
}

.gauge-svg-wrapper {
  position: relative;
  height: var(--gauge-circle-size);
}

.gauge-svg {
  stroke-linecap: round;
  width: var(--gauge-circle-size);
  height: var(--gauge-circle-size);
}

.gauge-base {
  opacity: 0.1;
  stroke: var(--circle-background);
  stroke-width: var(--circle-border-width);
}

.gauge-arc {
  fill: none;
  stroke: var(--circle-color);
  stroke-width: var(--circle-border-width);
  animation: load-gauge var(--transition-length) ease forwards;
  animation-delay: 250ms;
}

.gauge-percentage {
  width: 100%;
  height: var(--gauge-circle-size);
  position: absolute;
  font-size: calc(var(--gauge-circle-size) * 0.34 + 1.3px);
  line-height: 0;
  text-align: center;
  top: calc(var(--gauge-circle-size) / 2);
}

.gauge-label {
  font-size: var(--gauge-label-font-size);
  color: var(--tweet-font-color);
  margin-top: 10px;
  text-align: center;
}

@keyframes load-gauge {
  from {
    stroke-dasharray: 0 352;
  }
}
