.page {
  padding: 0.625rem;
}

.main {
  margin: 0 auto;
  max-width: 42rem;
  padding: 1rem;
}

.article {
  font-size: 1.125rem;
  font-weight: 500;
}

.article > header > h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
