.random-tweet {
  font-size: 0.875rem;
}

.random-tweet > span {
  margin-left: 0.5rem;
  color: #ff1a1a;
  animation: changed 0.5s;
}

.generate-tweet-button {
  height: 1rem;
  font-size: 0.875rem;
  text-decoration: underline;
  color: var(--accents-5);
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 0.25rem;
}

.generate-tweet-button:hover {
  text-decoration: none;
}

.generate-tweet-button.tweet-loading {
  cursor: wait;
  text-decoration: none;
  animation: changed 1s;
}

.id {
  animation: updated 1.7s;
}

@keyframes updated {
  30% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes changed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
