.header {
  display: flex;
  padding-bottom: 0.75rem;
}

.avatar {
  position: relative;
  height: 48px;
  width: 48px;
}
.avatarOverflow {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 9999px;
}
/* .avatarOverflow > div {
  border: var(--tweet-avatar-border);
  border-radius: 50%;
} */
.avatarShadow {
  height: 100%;
  width: 100%;
  transition-property: background-color;
  transition-duration: 0.2s;
  box-shadow: rgb(0 0 0 / 3%) 0px 0px 2px inset;
}
.avatarShadow:hover {
  background-color: rgba(26, 26, 26, 0.15);
}

.author {
  max-width: calc(100% - 84px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.25rem;
}
.authorLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
.authorLink:hover {
  text-decoration-line: underline;
}
.authorVerified {
  display: inline-flex;
}
.authorLinkText {
  font-weight: 700;
}
.authorVerifiedIcon {
  margin-left: 0.125rem;
  max-width: 20px;
  max-height: 20px;
  height: 1.25em;
  color: rgb(130, 154, 171);
  fill: currentColor;
  user-select: none;
  vertical-align: text-bottom;
}
.authorMeta {
  display: flex;
}
.authorFollow {
  display: flex;
}
.authorLinkText,
.authorVerified,
.authorMeta {
  line-height: 20px;
  font-family: var(--tweet-font);
  font-size: 15px;
  white-space: nowrap;
  overflow-wrap: break-word;
  overflow: hidden;
}
.username {
  color: rgb(83, 100, 113);
  font-weight: 400;
  text-decoration: none;
  text-overflow: ellipsis;
}
.follow {
  color: rgb(0, 111, 214);
  text-decoration: none;
  font-weight: 700;
}
.separator {
  padding: 0 0.25rem;
}

.brand {
  margin-left: auto;
}

.twitterIcon {
  width: 1.25em;
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%231da1f2%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
}
